.card_item{
    .card_item_card{
        border-radius: 10px;
        height: 300px;
        width: auto;
      
    }
    .card_item_img{
        height: 150px;
        border-radius: 10px;
        width: 100%;
        max-width: 100%;
    }
}