.banner{
    background-image: url("http://demo.foxthemes.net/courseplusv3.3/assets/images/home-hero.png");
    height: 520px;
    background-size: cover;
    background-position: bottom ;
    background-repeat: no-repeat;
    position: relative;
    .banner_item{
        width: 450px;
       margin: auto;
      position: absolute;
      top: 26%;
      left: 10%;
      
      h1{
          font-size: 35px;
          color: #3e416d;
          font-weight: 600;
      }
      p{
        color: #3e416d;
        font-size: 21px;
        width: 370px; 
      }
      button{
          background-color: #3e416d;
          color: white;
          border-radius: 5px;
          font-size: 15px;
          padding: 0 17px;
      }
    }
}