.technical{
    width: 1280px;
    margin: auto;
    margin-top: 5%;
        h1{
            text-align: center;
            margin-bottom: 35px;
        }
    .technical_center{
        background-image: url("http://demo.foxthemes.net/courseplusv3.3/assets/images/feature-2.png");
        background-size: cover;
        height: 400px;
      
    }
}